@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #546858; /* Cambia este valor al color que desees */
}

.container {
    width: 100%;               /* Ancho completo */
    max-width: 600px;         /* Ancho máximo */
    margin: 0 auto;           /* Centrado horizontal */
    background-color: #8fc2bb; /* Color de fondo */
    border: 2px solid rgb(47, 95, 90);   /* Borde */
    padding: 20px;            /* Espaciado interno */
}

.container img {
    max-width: 100%;          /* Asegura que la imagen no se desborde */
    height: auto;             /* Mantiene la relación de aspecto */
}

.subrayado {
    text-decoration: underline;
}

