@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 100%;              
    max-width: 600px;        
    margin: 0 auto;          
    background-color: #b99a5e;
    border: 2px solid rgb(96, 63, 1);   
    padding: 20px;           
}

.container img {
    max-width: 100%;          
    height: auto;            
}

.subrayado {
    text-decoration: underline;
}

